p {
  text-align: justify;
}

div {
	font-family: Verdana, Tahoma, Arial;
	font-size: 12px;
}

td {
	font-family: Verdana, Tahoma, Arial;
	font-size: 12px;
}

input.arg {
	font-family: Verdana, Tahoma, Arial;
	font-size: 12px;
}

div.startBtns {
	margin-top: 200px;
}

div.stimulus {
	display: none;
	margin-top: 200px;
}

div.okBtn {
	display: none;
	margin-top: 80px;
}

div.results {
	display: none;
}

input.btn {
	margin: 10px;
	font-family: Verdana, Tahoma, Arial;
	width: 200px;
	height: 60px;
	font-weight: bold;
  background-color: 
}

input.char { 
	margin-left: 1px;
	width: 22px;
	font-family: Verdana, Tahoma, Arial;
	font-size: 14px;
	font-weight: bold;
	background-color: white; 
	text-align: center;
}

input.char-off { 
	color: #006DE3;
	border: 1px solid #aaaaaa;
	cursor: default;
}

input.char-on {
	color: #006DE3;
	border: 1px solid #aaaaaa;
	border-bottom: 3px solid #8CC3FF;
}

input.char-on-active {
	color: #006DE3;
	border: 1px solid #006DE3;
	border-bottom: 3px solid #006DE3;
}

span.title {
	font-family: Verdana, Tahoma, Arial;
	font-size: 16px;
	font-weight: bold;
}

textarea.results {
	font-family: Courier New, Courier;
	font-size: 10px;
	width: 600px;
	height: 400px;
	wrap: no;
}
